<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webmall.mapper.CustomerMapper">

	<insert id="join" parameterType="com.webmall.domain.CustomerVO">
	
		INSERT INTO customer_tbl(
			cus_id, 
			cus_name, 
			cus_pw, 
			cus_mail,
			cus_receive, 
			cus_phone
			)
		VALUES(
			#{cus_id},
			#{cus_name},
			#{cus_pw},
			#{cus_mail},
			#{cus_receive},
			#{cus_phone}
			)
	
	</insert>
	
	<select id="checkID" resultType="string">
	
		SELECT 
			cus_id 
		FROM 
			customer_tbl
		WHERE 
			customer_tbl = #{cus_id}
	
	</select>

</mapper>